:root {
  --WHITE: #ffffff;
  --BUTTON_BACKGROUND: #2d3436;
  --TOOLBAR_BACKGROUND: #0984e3;
  --MESSAGE_BACKGROUND_SELF: #55efc4;
  --MESSAGE_BACKGROUND_REPLY: #dfe6e9;
  --MESSAGE_TAG: #ff7675;
  --MESSAGE_DATE: #636e72;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--TOOLBAR_BACKGROUND);
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ecf0f1;
  font-size: 25px;
  font-weight: bold;
}

footer {
  background-color: var(--TOOLBAR_BACKGROUND);
  height: 45px;

  display: flex;
  padding: 16px;
  align-items: center;
}

.messageInput {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: var(--WHITE);
  border-radius: 15px;
  margin-right: 16px;

  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
}

.messageInput input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 17px;
}

.messageSendButton {
  background-color: var(--BUTTON_BACKGROUND);
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  color: var(--WHITE);
  cursor: pointer;
  outline: none;
}

.conversation, .loading {
  flex: 1;
  overflow: auto;
}

.msg_self, .msg_others {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  white-space: pre-wrap;
}

.msg_self {
  align-items: flex-end;
}

.msg_others {
  align-items: flex-start;
}

.bubble_self, .bubble_others {
  max-width: 80%;
  flex: 0;
  padding: 15px;
}

.imagecontent {
  display: flex;
  flex-direction: column;
}

.bubble_self {
  background-color: var(--MESSAGE_BACKGROUND_SELF);
  border-radius: 10px 0px 10px 10px;
}

.bubble_others {
  background-color: var(--MESSAGE_BACKGROUND_REPLY);
  border-radius: 0px 10px 10px 10px;
}

.caption {
  margin: 10px 0px 0px 5px;
}

.mention {
  text-decoration: none;
  font-weight: bold;
  color: red;
}